.desc{
    max-width: 1000px;
}

.tebel-banget {
    font-weight: 100;
}

.tebel-sedang {
    font-weight: bold;
}

.button{
    background-color: rgb(18, 6, 182);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.button:hover {
    background-color: rgb(2, 2, 95);
    color: white;
}

.gambar{
    display: none;
}

.img{
    width: 2500px;
    z-index: -100;
}

.link{
    color: gray;
    transition: 0.3s;
}

.link:hover{
    color: rgb(165, 160, 250);
}

/* Mengatur responsive */
@media screen and (max-width: 1440px) {
    .img{
        display: none;
        width: 1000px;
    }

    .gambar{
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .img{
        display: none;
        width: 1000px;
    }

    .gambar{
        display: block;
    }

}

@media screen and (max-width: 768px) {
    .img{
        width: 1000px;
        z-index: -1;
    }

}

@media screen and (max-width: 425px) {
    .img{
        width: 1000px;
        z-index: -1;
    }

}

@media screen and (max-width: 2560px) {
    .img{
        width: 1000px;
        z-index: -100;
    }

}
